<div class="wrapper">
    <div class="header complaint">
        <div class="card">
            <h1>Project Law</h1>
            <h2>Un lugar para realizar tus denuncias de forma muy sencilla</h2>
        </div>
    </div>

    <div class="cards">
        <div class="image-card">
            <img src="images/complaint.jpg" alt="COMPLAINT">
            <div class="content">
                <h1>¿Tienes una denuncia?</h1>
                <p-button label="Denuncia" [routerLink]="['/complaint']"></p-button>
            </div>
        </div>
    
        <div class="image-card">
            <div class="content">
                <h1>Consulta tu denuncia</h1>
                <p-button label="Consultar" [routerLink]="['/consult']"></p-button>
            </div>
            <img src="images/consult.jpg" alt="CONSULT">
        </div>
    </div>    
</div>